* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--Off-white);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  border-radius: 20px;
  border-bottom-right-radius: 30%;
}

.input {
  display: flex;
  gap: 2rem;
}

input {
  caret-color: var(--purple);
  padding: 0.8rem;
  font-size: 32px;
  width: 150px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  outline: 1px solid var(--Light-grey);
}

input:focus {
  outline: 1px solid var(--purple);
}

span {
  color: var(--purple);
}

h2 {
  font-size: 4rem;
  font-weight: bold;
}

h4 {
  text-transform: uppercase;
  color: var(--Smokey-grey);
}

.circle {
  position: relative;
  display: flex;
}

.line {
  width: 600px;
  margin-top: 2rem;
  border-top: 1px solid var(--Light-grey);
  z-index: 0;
}

button {
  background-color: var(--purple);
  color: var(--White);
  padding: 10px;
  border-radius: 50%;
  border: none;
  z-index: 99;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4ms;
}

button:hover {
  background-color: black;
}

.calculate {
  margin-top: 1rem;
}

p {
  display: none;
  color: red;
  font-size: 12px;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1.5rem;
    max-width: 700px;
    max-height: 900px;
    border-radius: 20px;
  }
  .input {
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .input input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  .line {
    width: 100%;
  }
  button {
    right: unset;
    top: 0;
    display: flex;
    justify-content: center;
  }
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  section {
    margin: 0 auto;
    max-width: 600px;
  }

  .calculate h2 {
    font-size: 3rem;
  }
}
